In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re as re
import glob
from pathlib import Path

In [3]:
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 100)

In [6]:
# p = Path("D:\hospital dataset\Doctors Hospitals Nurses Others").glob('*.xlsx')
# OUTPUT_DIR =Path("D:\hospital dataset\Doctors Hospitals Nurses Others") / 'Output'
# OUTPUT_DIR.mkdir(exist_ok=True)
# df_list = []
# OUTPUT_DIR

In [5]:
ext=['xls','xlsx']
for i in ext:
    p = Path.cwd().glob('*.{}'.format(i))
    OUTPUT_DIR =Path.cwd() / 'Output'
    OUTPUT_DIR.mkdir(exist_ok=True)
    for f in p:
        data = pd.read_excel(f.name)
        data.to_csv(OUTPUT_DIR / f.name.replace('.{}'.format(i),'.csv'), index=False)
    # df_list = []
    # OUTPUT_DIR

In [3]:
p = Path.cwd().glob('*.csv')
OUTPUT_DIR =Path.cwd() / 'Output'
OUTPUT_DIR.mkdir(exist_ok=True)
df_list = []
OUTPUT_DIR

WindowsPath('d:/College/Sapio/MP Filter/MP2/main/Output/Output')

In [4]:
for f in p:
    data = pd.read_excel(f.name)
    data.to_csv(OUTPUT_DIR / f.name.replace('.xlsx', '.csv'), index=False)

In [4]:
for f in p:
    data = pd.read_csv(f.name)
    data['file'] = f.stem
    # data.rename(columns=names, inplace=True)
    df_list.append(data)
df_list

[                Name  Email Address   City Or State  Phone  Address  \
 0       manish singh            NaN  Madhya Pradesh    NaN      NaN
 1       Manish Kabra            NaN  Madhya Pradesh    NaN      NaN
 2    manmohan jupall            NaN  Madhya Pradesh    NaN      NaN
 3    Manoharan subbi            NaN  Madhya Pradesh    NaN      NaN
 4      Manoj Panchal            NaN  Madhya Pradesh    NaN      NaN
 ..               ...            ...             ...    ...      ...
 229  SAURABH TRIVEDI            NaN  Madhya Pradesh    NaN      NaN
 230   PRIYANK SAXENA            NaN  Madhya Pradesh    NaN      NaN
 231      SAYAN DATTA            NaN  Madhya Pradesh    NaN      NaN
 232  SRINIVASAN MOHA            NaN  Madhya Pradesh    NaN      NaN
 233  parikshit chopr            NaN  Madhya Pradesh    NaN      NaN

      Profession  Phone 2                      File  Company        Mobile  \
 0           NaN      NaN  Financial Industry 34844      NaN  9.879548e+09
 1           NaN      NaN  Financial Industry 34844      NaN  9.869015e+09
 2           NaN      NaN  Financial Industry 34844      NaN  9.948743e+09
 3           NaN      NaN  Financial Industry 34844      NaN  9.444983e+09
 4           NaN      NaN  Financial Industry 34844      NaN  9.427028e+09
 ..          ...      ...                       ...      ...           ...
 229         NaN      NaN  Financial Industry 34844      NaN  9.321774e+09
 230         NaN      NaN  Financial Industry 34844      NaN  9.415790e+09
 231         NaN      NaN  Financial Industry 34844      NaN  9.022088e+09
 232         NaN      NaN  Financial Industry 34844      NaN  9.986006e+09
 233         NaN      NaN  Financial Industry 34844      NaN  9.811158e+09

      Pincode  Website  Category                 File.1  Email  Unnamed: 8  \
 0        NaN      NaN       NaN  FinancialAnalystsMain    NaN         NaN
 1        NaN      NaN       NaN  FinancialAnalystsMain    NaN         NaN
 2        NaN      NaN       NaN  FinancialAnalystsMain    NaN         NaN
 3        NaN      NaN       NaN  FinancialAnalystsMain    NaN         NaN
 4        NaN      NaN       NaN  FinancialAnalystsMain    NaN         NaN
 ..       ...      ...       ...                    ...    ...         ...
 229      NaN      NaN       NaN  FinancialAnalystsMain    NaN         NaN
 230      NaN      NaN       NaN  FinancialAnalystsMain    NaN         NaN
 231      NaN      NaN       NaN  FinancialAnalystsMain    NaN         NaN
 232      NaN      NaN       NaN  FinancialAnalystsMain    NaN         NaN
 233      NaN      NaN       NaN  FinancialAnalystsMain    NaN         NaN

      Unnamed: 9  Unnamed: 10  Slno  First_Name  Second_Name  \
 0           NaN          NaN   NaN         NaN          NaN
 1           NaN          NaN   NaN         NaN          NaN
 2           NaN          NaN   NaN         NaN          NaN
 3           NaN          NaN   NaN         NaN          NaN
 4           NaN          NaN   NaN         NaN          NaN
 ..          ...          ...   ...         ...          ...
 229         NaN          NaN   NaN         NaN          NaN
 230         NaN          NaN   NaN         NaN          NaN
 231         NaN          NaN   NaN         NaN          NaN
 232         NaN          NaN   NaN         NaN          NaN
 233         NaN          NaN   NaN         NaN          NaN

                                        Company.1  Address1  Address2  \
 0                                 Allahabad Bank       NaN       NaN
 1    Shri Balaji Urban Co-operative Bank Limited       NaN       NaN
 2                 Cent Bank Home Finance Limited       NaN       NaN
 3                    Swastika Investmart Limited       NaN       NaN
 4              Premium Global Securities Limited       NaN       NaN
 ..                                           ...       ...       ...
 229                         Punjab National Bank       NaN       NaN
 230          Guna Nagarik Sahakari Bank Maryadit       NaN       NaN
 231          Bhopal Nagarik Sahakaribank Limited       NaN       NaN
 232           Arihant Financial Services Limited       NaN       NaN
 233    Raga Securities & Finance Private Limited       NaN       NaN

      Bill_Address3  Pin_Code  Telephone_No  Email Id              Designation  \
 0              NaN       NaN           NaN       NaN                  Manager
 1              NaN       NaN           NaN       NaN  Chief Executive Officer
 2              NaN       NaN           NaN       NaN        Company Secretary
 3              NaN       NaN           NaN       NaN         Head - Commodity
 4              NaN       NaN           NaN       NaN      Whole Time Director
 ..             ...       ...           ...       ...                      ...
 229            NaN       NaN           NaN       NaN      Senior Manager - IT
 230            NaN       NaN           NaN       NaN             Chair Person
 231            NaN       NaN           NaN       NaN                  Manager
 232            NaN       NaN           NaN       NaN        Managing Director
 233            NaN       NaN           NaN       NaN                 Director

     Industrytype  Industry  Industery       file
 0      Financial       NaN        NaN  DomainsMP
 1      Financial       NaN        NaN  DomainsMP
 2      Financial       NaN        NaN  DomainsMP
 3      Financial       NaN        NaN  DomainsMP
 4      Financial       NaN        NaN  DomainsMP
 ..           ...       ...        ...        ...
 229    Financial       NaN        NaN  DomainsMP
 230    Financial       NaN        NaN  DomainsMP
 231    Financial       NaN        NaN  DomainsMP
 232    Financial       NaN        NaN  DomainsMP
 233    Financial       NaN        NaN  DomainsMP

 [234 rows x 33 columns]]

In [5]:
data = pd.concat(df_list, ignore_index=True)
data.columns = data.columns.str.title()

In [5]:
data.shape

(234, 33)

Spliting Dataset

In [124]:
df_1=data.iloc[:700000,:]
df_2=data.iloc[700000:1400000,:]
df_3=data.iloc[1400000:,:]

In [128]:
print (df_1.shape,df_2.shape,df_3.shape)

(700000, 84) (700000, 84) (554032, 84)

Output to csv file

In [129]:
df_1.to_csv(f"{OUTPUT_DIR}/Doctors1.csv",index=False)
df_2.to_csv(f"{OUTPUT_DIR}/Doctors2.csv",index=False)
df_3.to_csv(f"{OUTPUT_DIR}/Doctors3.csv",index=False)

In [70]:
data.to_csv(f"{OUTPUT_DIR}/FinalDomainsMP.csv",index=False)

In [83]:
data.to_csv(f"{OUTPUT_DIR}/Schemas_MP.csv",index=False)

In [4]:
data = pd.read_csv('transformed.csv')

In [6]:
data.dropna(inplace=True, how="all", axis=1)

In [7]:
data.shape

(15000, 18)

In [82]:
data.columns = data.columns.str.replace(' ','_')

In [8]:
count = data.shape[0]
count

152082

In [9]:
import math
number_of_files = math.ceil(count/100000)
number_of_files

2

In [10]:
for i in range(number_of_files):
    df_1=data.iloc[i*100000:(i+1)*100000,:]
    df_1.to_csv(f"{OUTPUT_DIR}/Electricals & electronics{i+1}.csv",index=False)

Reading data file

In [128]:
data=pd.read_csv("Vodafone3g.csv" ,low_memory= False)

Printing row data from column

In [ ]:
for i in range(len(data.iloc[:,7])):
    x=data.iloc[i,7]
    
    if pd.isna(x):
        continue
    else:
        print(i)
        print(x)
        
    
# data.iloc[:,33]

In [7]:
data = pd.read_csv(r"D:\College\Sapio\smartcop\Copy of CELL ID\Airtel\Output\4g\Output\Airtel4g.csv" ,low_memory= False)

Column index with column name dict

In [59]:
x={}
for i in range(len(data.columns)):
    x[i]=data.columns[i]
print(x)

{0: '_id', 1: 'address', 2: 'date_joined', 3: 'designation', 4: 'email', 5: 'id', 6: 'industry_type', 7: 'is_admin', 8: 'last_login', 9: 'mobile_number', 10: 'name', 11: 'organisation_name', 12: 'password', 13: 'permission', 14: 'pincode', 15: 'security_question', 16: 'security_question_answer', 17: 'state', 18: 'unit_size'}

In [17]:
# data.iloc[:,15]=data.iloc[:,15].astype(str).apply(lambda x: '*'.join(x.dropna().astype(str).values))
# +data.iloc[:,38].astype(str)

for i in range(len(data.iloc[:,23])):
    x=data.iloc[i,23]
    
    if pd.isna(x):
        continue
    else:
        data.iloc[i,3]=x
data = data.iloc[:, [j for j, c in enumerate(data.columns) if j != 23]]
# data.drop(data.columns[37],axis=1,inplace=True)

In [27]:
df1=pd.DataFrame()

In [18]:
data.iloc[2000000,94]

nan

In [29]:
df1 = data[data['City Or State'] == 'Madhya Pradesh']

In [30]:
df1.shape

(234, 32)

In [32]:
df1.to_csv(f"{OUTPUT_DIR}/DomainsMP.csv",index=False)

In [33]:
data.to_csv(f"{OUTPUT_DIR}/Domains.csv",index=False)

In [10]:
arr=[]
arr=data['State'].unique().tolist()

In [15]:
df1 = pd.DataFrame

In [ ]:
for i in range(len(data)):
    df1 = data[data['State'] == 'Madhya Pradesh']

In [8]:
df1 = data[data['state'] == 'Madhya Pradesh']

In [10]:
df1.to_csv('transformed-MP.csv',index=False)

In [11]:
df1.shape

(395, 18)

In [8]:
x={}
for i in range(len(data.columns)):
    x[i]=data.iloc[0,i]
print(x)

{0: ' BALAKRISHNA VARNA', 1: 'bbkvarna@gmail.com', 2: 'Bengaluru/ Bangalore', 3: '-9844489135', 4: ' # 908, 1st Floor, 11TH B Cross, Vyalikaval, Malleshwaram', 5: 'CA (Chartered Accountant)', 6: nan, 7: 'CA Database 15333', 8: nan, 9: nan, 10: nan, 11: nan, 12: nan, 13: nan, 14: 'CA_Database', 15: nan, 16: nan, 17: nan, 18: nan, 19: nan, 20: nan, 21: nan, 22: nan, 23: nan, 24: nan, 25: nan, 26: nan, 27: nan, 28: nan, 29: nan, 30: nan, 31: nan, 32: nan, 33: nan, 34: nan, 35: nan, 36: nan}

Combining 2 mobile columns and dropping duplicate mobile column

In [8]:
for i in range(1,4):
    data = data.iloc[:, [j for j, c in enumerate(data.columns) if j != 26]]

Merging repeated columns

In [124]:
for j in range(len(index_list)):
    for i in range(len(data.iloc[:,index_list[j]])):
        x=data.iloc[i,index_list[j]]
    
        if pd.isna(x):
            continue
        else:
            data.iloc[i,list1[j]]=x

In [15]:
data = data.iloc[:, [j for j, c in enumerate(data.columns) if j != 30]]

regex column list

In [120]:
index_list

[25, 28, 34, 46, 61, 64, 65, 67, 69]

In [112]:
index_list=[]
sec_list=[]
for i in range(len(x)):
    if re.search('\.\d',x[i]):
        index_list.append(i)
        z=str.split(x[i],sep='.')
        sec_list.append(z[0])
        


# re.search('\w\.\d',("Mobile2.1","Mobile","city.1"))

In [ ]:
sec_list

FINDING original index

In [ ]:
list1=[]
for i in sec_list:
    for j in range(len(data.columns)):
        if i == data.columns[j]:
            print(data.columns[j])
            # print(j)
            list1.append(data.index[j])

In [122]:
index_list

[25, 28, 34, 46, 61, 64, 65, 67, 69]

In [123]:
list1

[3, 6, 10, 21, 49, 32, 29, 9, 35]

In [197]:
print(data.iloc[6713,0])

nan